# Backend Dependencies
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
aiohttp

# Discord Bot
discord.py
python-dateutil

# Database
alembic

# CORS
fastapi-cors

# Utils
requests
